html{
    scroll-behavior: smooth;
    background-color: #122e44;
    
}
*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}
body{
    font-family: "Montserrat" , sans-serif;
}
img{
    width: 100%;
}

section{
    padding:100px 0;
    background: #122e44;

}.section_title{
    margin-bottom: 40px;
    
}
.section_title  h2{
    position: relative ;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 30px ;
    transition:all .4s ease-in-out;
}
.section_title h2:hover{
    background: #24CAAC;
}

/* ***************header*************** */

header{
    background: rgb(44,37,37);
    border-bottom: 2px solid white;
    position:fixed ;
    width:100%;
    z-index: 5;
}
.navbar{
    display: flex;/*eklediklerimi yanyana getirir*/
    justify-content: space-between ;/*eklediğim iki bileşen biri sağa diğeri sola gider*/
    align-items: center;/*yukarıdan aşağıya merkeze çeker*/
    margin:0 auto;
    width:100%;/*sağdan soldan ortalamak için*/
    padding:10px 20px;/*yazılarla çizgilerin arasına boşluk açmak için*/
}
.nav_links{
    display:flex;/*eklenenleri yan yana sıralar*/

    
}

.nav_links li a{
    color:#FFFFFF;
    margin-left: 15px;/*dış kutu arası boşluk eklemek için*/
    padding:5px 15px;/*iç kutu büyüklüğü*/
    border-radius: 5px;
    transition:all .5s ease-in-out;
    
    
}
.nav_links li a:hover{
    background:#24CAAC;
}
.logo h2 a{
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
/* *********anasayfa********* */
.inner_anasayfa{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:0 auto;
    width:80%;
    
    color:#FFFFFF;
    
    
}
.child_anasayfa{
    flex-basis: 45%;
    
}
.child_anasayfa img{
    border-radius: 5px;
    
    padding:1rem;
    
}
.child_anasayfa h1{
    font-size: 50px;
    color:#24CAAC;
}
.span_child{
    color: #e0376f;
}
.child_anasayfa p{
    font-size: 25px;
    margin-bottom: 13px;
}
.btn{
    background: #24CAAC;
    padding: 8px 16px;
    transition: all .3s ease;
    border-radius: 20px;
    border:2px solid #24CAAC;
    font-weight: 700;

}
.btn:hover{
    background: transparent;
    letter-spacing: 2px;
}
.btn a{
    color: #FFFFFF;
}
/* ***************CV******* */

.innercv{
    
    align-items:center;
    width: 60%;
    justify-content: space-between;
    margin:0 auto;
    
    color:#FFFFFF;
    
    

    
}
.innercv_child{
    color: #FFFFFF;
    padding:25px 20px;
    flex-basis: 31% ;
    background:rgba(55,66,80,0.281) ;
    border-radius:5px ;
    margin :10px;
    border: 1px solid transparent;
    transition: all .4s ease-in;

}
.innercv_child:hover{
    border:1px solid #24CAAC;
}
.innercv_child h3{
    font-size:20px;
    margin:5px 0;

    
}
.innercv_child p{
    font-size: 15px;
}

/*miras şehir*/
.slayt{
    
    
    margin: 0 auto;
    width: 80%;
    box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.55);
    
}
.icerik h2{
    padding-top: 10px;
    color: #ffffff;
}
.paragraf p{
    color: #FFFFFF;
}
.icerik{
    
    margin: 20px auto;
    width: 80%;
    padding:10px 2%;
    border-radius: 5px;
    background: rgba(55,66,80,0.281);
    border: 1px solid transparent;
    transition: all .4s ease-in;
}
.icerik:hover{
    border:1px solid #24CAAC;
}
.icerik h4{
    color: #FFFFFF;
}
.ek iframe{
    display: flex;
    margin: 10px auto;
    justify-content:space-between;
    width: 80%;
    border-radius: 5px;
    
    
    
}


.slayt2{
    margin: 0 auto;
    box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.55);
    width: 80%;
    
    
}


/* *******İLETİŞİM******* */
.inner_contact{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0 auto;
    width: 100%;
}
.child_contact{
    flex-basis: 65%;
    
}
.child_contact form{
    padding: 50px 40px;
    background: rgba(55,66,80,0.281);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .4s ease-in;

}
.child_contact form:hover{
    border:1px solid #24CAAC;
}
.child_contact form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: none;
    transition: .3s ease-in;
    background: #e7e7e7;
}




/*********GİRİS*************/


.inner_giris{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0 auto;
    width: 100%;
}
.child_giris{
    flex-basis: 65%;
    
}
.child_giris form{
    padding: 50px 40px;
    background: rgba(55,66,80,0.281);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .4s ease-in;

}
.child_giris form:hover{
    border:1px solid #24CAAC;
}
.child_giris form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: none;
    transition: .3s ease-in;
    background: #e7e7e7;
}

/*****************/
.burger{
    display: none;
    
}
.responsiveNav{
    display: none;
    position: fixed;
    top:0 ;
    left:0;
    bottom: 0;
    right: 0;
    background-color:#283138;
}
.responsiveNav a{
    color: #e7e7e7;
    

}
.openNav{
    display: flex !important;
    flex-direction: column;
    padding: 3rem;
    font-size:xx-large ;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;


}
.closeButton{
    position: absolute; top: 20px; right: 20px; 
    
    
    
}


@media(width<=1200px) {
    .nav_links{
        display: none;
    }
    .ek{
        flex-direction: column;
    }
    .burger{
        display: inline-block;
        
        
    }
    

    
}

