html{
    scroll-behavior: smooth;
    background-color: #122e44;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "Montserrat" , sans-serif;
}
img{
    width: 100%;
}

section{
    padding:100px 0;
    background: #122e44;

}.section_title{
    margin-bottom: 40px;
    
}
.section_title  h2{
    position: relative;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 30px;
    transition:all .4s ease-in-out;
}
.section_title h2:hover{
    background: #24CAAC;
}

/* ***************header*************** */

header{
    background: rgb(44,37,37);
    border-bottom: 2px solid white;
    position:fixed;
    width:100%;
    z-index: 5;
}
.navbar{
    display: flex;/*eklediklerimi yanyana getirir*/
    justify-content: space-between;/*eklediğim iki bileşen biri sağa diğeri sola gider*/
    align-items: center;/*yukarıdan aşağıya merkeze çeker*/
    margin:0 auto;
    width:80%;/*sağdan soldan ortalamak için*/
    padding:10px 0;/*yazılarla çizgilerin arasına boşluk açmak için*/
}
.nav_links{
    display:flex;/*eklenenleri yan yana sıralar*/
    
}
.nav_links li a{
    color:#FFFFFF;
    margin-left: 15px;/*dış kutu arası boşluk eklemek için*/
    padding:5px 15px;/*iç kutu büyüklüğü*/
    border-radius: 5px;
    transition:all .5s ease-in-out;
    
    
}
.nav_links li a:hover{
    background:#24CAAC;
}
.logo h2 a{
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
/* *********anasayfa********* */
.inner_anasayfa{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:0 auto;
    width:80%;
    
    color:#FFFFFF;
    
    
}
.child_anasayfa{
    flex-basis: 45%;
}
.child_anasayfa img{
    border-radius: 5px;
    border: #FFFFFF solid 2px;
    
}
.child_anasayfa h1{
    font-size: 50px;
    color:#24CAAC;
}
.span_child{
    color: #e0376f;
}
.child_anasayfa p{
    font-size: 25px;
    margin-bottom: 13px;
}
.btn{
    background: #24CAAC;
    padding: 8px 16px;
    transition: all .3s ease;
    border-radius: 20px;
    border:2px solid #24CAAC;
    font-weight: 700;

}
.btn:hover{
    background: transparent;
    letter-spacing: 2px;
}
.btn a{
    color: #FFFFFF;
}
/* ***************yazılımlar******* */

.innercv{
    
    align-items:center;
    width: 40%;
    justify-content: space-between;
    margin:0 auto;
    
    color:#FFFFFF;
    
    

    
}
.innercv_child{
    color: #FFFFFF;
    padding:25px 20px;
    flex-basis:31% ;
    background:rgba(55,66,80,0.281) ;
    border-radius:5px ;
    margin :10px;
    border: 1px solid transparent;
    transition: all .4s ease-in;

}
.innercv_child:hover{
    border:1px solid #24CAAC;
}
.innercv_child h3{
    font-size:20px;
    margin:5px 0;

    
}
.innercv_child p{
    font-size: 15px;
}
